/* 
    Document   : Navigation-Style-Sheet
    Created on : 2 Aug, 2013, 12:26:06 PM
    Author     : parichit
    Description:
        Purpose of the stylesheet follows.
*/
.nav_bar {
    padding-bottom: 0px;
    border: none;
    outline: none;
    height: 45px;
    background: #4c4e5a;
    background: -webkit-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -moz-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -o-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -ms-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 0px;
    margin:0;
}

.nav_bar li {

    position: relative;
    list-style: none;
    float: left;
    display: block;
    height: 50px;
    
}

.nav_bar li a {

    display: block;
    padding: 0 15px;
    margin: 6px 0;
    line-height: 28px;
    text-decoration: none;
    border-left: 1px solid #393942;
    border-right: 1px solid #4f5058;
    font-family: sans-serif, Helvetica, Arial ;
    font-weight: 900;
    font-size: 12px;
    color: #f3f3f3;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;

}

.nav_bar li:first-child a { border-left: none;}

.nav_bar li:last-child a{ border-right: none; }

.nav_bar li:hover > a { color: #8fde62; }

.nav_bar ul {

    position: absolute;
    top: 40px;
    left: 0;
    opacity: 0;
    margin:0;
    background: #1f2024;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    -webkit-transition: opacity .25s ease .1s;
    -moz-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
    
}

.nav_bar li:hover > ul { opacity: 1; }

.nav_bar ul li {

    height: 0;
    overflow: hidden;
    padding: 0;
    margin:0;
    -webkit-transition: height .25s ease .1s;
    -moz-transition: height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    -ms-transition: height .25s ease .1s;
    transition: height .25s ease .1s;
    
}

.nav_bar li:hover > ul li {

    height: 40px;
    overflow: visible;
    margin:0;
    padding: 0;
}

.nav_bar ul li a {

    width: 140px;
    padding: 4px 4px 4px 4px;
    margin:0;
    border: none;
    border-bottom: 1px solid #353539;
}

.nav_bar ul li:first-child a { margin: 0; }
.nav_bar ul li:last-child a { border: none; }






